In [1]:
# Python program to square the elements of a list by using list comprehension

num = [2, 12, 34, 41, 59]

sqrd_num = [number ** 2 for number in num]

print(sqrd_num)

[4, 144, 1156, 1681, 3481]

In [2]:
# Pyhton program to drop duplicate elements from a list of numbers

a = [55,20,34,20,55,50,60,40,80,50,40,55,34,41]
duplicate_items = set()
unique_items = []
for x in a:
    if x not in duplicate_items:
        unique_items.append(x)
        duplicate_items.add(x)

print(duplicate_items)

{34, 40, 41, 80, 50, 20, 55, 60}

In [3]:
#Two sets of numbers implementing the set operations - intersection
a = set([2, 3, 4])
b = set([3, 4, 5])
result = a.intersection(b)
print(result)

{3, 4}

In [4]:
#Two sets of numbers implementing the set operations - union
a = set([2, 3, 4])
b = set([3, 4, 5])
c = a.union(b)
print(c)

{2, 3, 4, 5}

In [5]:
#Two sets of numbers implementing the set operations - difference
a = set([2, 3, 4])
b = set([3, 4, 5])
c = a.difference(b)
print(c)

{2}

In [6]:
#Two sets of numbers implementing the set operations - symmetric_difference
a = set([2, 3, 4])
b = set([3, 4, 5])
c = a.symmetric_difference(b)
print(c)

{2, 5}

In [7]:
# Python program to add the elements of a set
num = {'1', '2', '3', '4'}
num.add('5')
print('numbers are:', num)

num.add('6')
print('numbers are:', num)

numbers are: {'3', '1', '5', '2', '4'}
numbers are: {'3', '6', '1', '5', '2', '4'}